.inputs {
    text-align: center;
    width: 10rem;
    color: darkslategray;
}
.validationError {
    color: darkred;
}
.required {
    color: darkred;
}
.selection{
    min-width: 10rem;
}
.inputs label {
    display:inline-flex ;
}
